services:
  log-sidecar:
    container_name: log-sidecar
    command: python start.py
    init: true
    build:
      context: ./log-sidecar
      dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./log-sidecar/:/log-sidecar
      - "/tmp/namedPipes:/tmp/namedPipes" # for sharing logs

  test-api:
    container_name: test-api
    command: uvicorn --reload --host 0.0.0.0 --port 8000 --log-level info main:fastapi
    init: true
    build:
      context: ./test-api
      dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./test-api/:/test-api
      - "/tmp/namedPipes:/tmp/namedPipes" # for sharing logs

  db:
    container_name: postgres_ts_db
    image: timescale/timescaledb:latest-pg17
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_DB=logs

volumes:
    postgres_data: