services:
  log-sidecar:
      container_name: log-sidecar
      command: python start.py
      init: true
      image: phratz/ts-log-sidecar:latest
      build:
        context: ./log-sidecar
        dockerfile: Dockerfile
        args:
          VERSION: ${VERSION:-0.1.0}
      env_file:
        - ./.env
      volumes:
        - "/tmp/namedPipes:/tmp/namedPipes" # for sharing logs
