services:
  log-sidecar:
      container_name: log-sidecar
      command: python start.py
      init: true
      build:
        context: ./log-sidecar
        dockerfile: Dockerfile
      env_file:
        - ./.env
      volumes:
        - "/tmp/namedPipes:/tmp/namedPipes" # for sharing logs
